.contact-form-container {
  max-width: 400px;
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f5f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #ffcb05;
  text-shadow: 2px 2px #3c5aa6;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  color: #3c5aa6;
}

input,
textarea {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid #3c5aa6;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: vertical;
  height: 100px;
}

.submit-button {
  background-color: #ffcb05;
  color: #3c5aa6;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #ffdd57;

}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.popup-content h2 {
  color: #3c5aa6;
}

.popup-content button {
  background-color: #ffcb05;
  color: #3c5aa6;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-content button:hover {
  background-color: #ffdd57;
}